<div class="row">
  <div class="col">
<%= @merchant.name%>
</div>
</div>
<div class="row">
  <div class="col-6">
<a href="/merchants/<%=@merchant.id%>/edit" class="btn btn-primary">Edit</a>
</div>
<div class="col-6">
<form method="post" action="/merchants/<%=@merchant.id%>">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" class="btn btn-warning" value="Delete"/>
</form>
</div>
</div>
